<svg version="1.1" id="sluzby-ppc" data-animation="ppcAnimation" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 430 118" enable-background="new 0 0 430 118" xml:space="preserve">
    <g>
        <line class="underline" fill="none" stroke="#FFFEFE" stroke-width="3" stroke-miterlimit="10" x1="153.75" y1="114.333" x2="276.25" y2="114.333"/>
        <g class="sloupce">
            <rect x="163.75" y="91.333" fill="none" stroke="#FFFEFE" stroke-width="3" stroke-miterlimit="10" width="13.5" height="23"/>
            <rect x="192.75" y="71.166" fill="none" stroke="#FFFEFE" stroke-width="3" stroke-miterlimit="10" width="13.5" height="43"/>
            <rect x="222.75" y="51.333" fill="none" stroke="#FFFEFE" stroke-width="3" stroke-miterlimit="10" width="13.5" height="63"/>
            <rect x="252.75" y="31.166" fill="none" stroke="#FFFEFE" stroke-width="3" stroke-miterlimit="10" width="13.5" height="83"/>
        </g>
        <g class="ppc-arrow">
            <line fill="none" stroke="#FFFEFE" stroke-width="4" stroke-miterlimit="10" x1="266.25" y1="3.667" x2="163.75" y2="82.833"/>
            <polyline fill="none" stroke="#FFFEFE" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                      253,3.667 266.25,3.667 266.25,16.917 	"/>
        </g>
    </g>
</svg>