.l-1000{
    padding: 30px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    @extend .l-flex-xy;
    &__column{
        order: 1;
        @extend .small-12, .medium-6;
        @include breakpoint(medium){
            &--first{
                order: 0;
            }
        }
    }
}
